<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add Blog | Blog</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <div class="container">
      <form action="/blog" method="post" enctype="multipart/form-data">
          <div class="mt-3">
            <label for="coverImage" class="form-title">Cover Image</label>
            <input type='file' class="form-control mt-2" name="coverImage" id="coverImage" aria-describedby="coverImage">
          </div>
          <div class="mt-3">
            <label for="title" class="form-title">Title</label>
            <input type='text' class="form-control mt-2" name="title" id="title" aria-describedby="title">
          </div>
          <div class="mt-4">
            <label for="body" class="form-title">Body</label>
            <textarea class="form-control mt-2" name="body" placeholder="Write your Post here..." id="body" style="height: 100px"></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
            <button type="submit" class="btn btn-dark">Post</button>
          </div>
      </form>
  </div>
  <%- include('./partials/script') %>
</body>
</html>